/*.logotipoAllPages esta clase es utilizada para la modificacion del logo principal ubicada en el documento 'header_administardor.php'*/
.logotipoAllPages {
    border-radius: 20px !important; 
    position: absolute !important;
    bottom: 8px !important;
    left: 28px;
    transition: all ease 300ms;
}

/*.logotipoAllPages:hover es utilizada para la modificacion del logo principal en su pseudoclase 'hover' ubicada en el documento 'header_administardor.php'*/
a:hover .logotipoAllPages {
    transform: scale(1.25);
}
/*.labelCrearCliente es utilizada para la modificacion de las margenes del label ubicada en el documento 'crear_cliente.php'*/
.labelCrearCliente {
    margin-left: 15px;
    margin-right: 30%;
    padding: 15px 10px;
}

/*la clase .headerTabla es utilizada para dar estilos a la tabla ubicada en el modulo de Valores de Referencia, en el directorio del proyecto 'web/valoresReferencia.php'*/
.headerTabla {
    background-color: #214761;   
}

.headerTabla > th {
    color: white !important;
    width: 0px ;
    font-weight: bolder;
}
